# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
.env
!.env.example
!.env.production

# Django
/server/media/
/server/staticfiles/

# IDE
.vscode/
.idea/
*.swp
.ide/

# OS
.DS_Store
Thumbs.db
server/db.sqlite3

# Node (for client/)
node_modules/
dist/
.next/

# Generated
*.pdf

